body {
  margin:0px auto;
}

.App-link {
  color: #61dafb;
}

.button {
  margin: 25px 0;
}

select[type=text] {
  margin: 20px 0;
}

.form-label {
  margin: 20px 0;
}

form {
  margin-top: 30px;
}

.brand-logo img {
  width: 13%;
  height: auto;
}

.navbar-title {
  padding-left: 100px;
  font-size: 3em;
}