body {
  margin:0px auto;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.button {
  margin: 25px 0;
}

select[type=text] {
  margin: 20px 0;
}

.form-label {
  margin: 20px 0;
}

.logo {
  width: 1.5%;
  height: auto;
}

.basic-form, .advanced-form {
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 30px 0 30px;
}

.advanced-form {
  padding: 10px 30px 20px 30px;
}

.brand-logo img {
  width: 13%;
  height: auto;
}

.navbar-title {
  padding-left: 10px;
  font-size: 2.5em;
}

.navbar-title, h4, nav, h5, h3 {
  font-family: 'Indie Flower', cursive;
}

nav ul a {
  font-size: 20px !important;
}

td.no {
  color: red;
}

td.maybe {
  color: orange;
}

td.probably {
  color: #9abc03;
}

td.definitely {
  color: green;
}

.footer-built-by {
  padding-left: 6px;
}

.fa-github, .fa-twitter {
  margin-right: 10px;
}

.about-page {
  font-size: 1.2em;
}

.about-title {
  padding-top: 2%;
}

.about-container {
  padding: 5% 0 10% 0;
}

.share-button-float {
  position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:40px;
	background-color:#4db6ac;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-button{
  margin-top:17px;
  margin-right: 3px;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 3.1%;
    height: auto;
  }
  .navbar-title {
    padding-left: 5px;
    font-size: 1.75em;
  }
  .share-button-float {
    bottom:10px;
    right:10px;
    width:50px;
	  height:50px;
  }
  .my-button{
    margin-top:13px;
  }
}

